<html lang="en">

<head>
    <title>
        <%-appName%> | <%-pageName%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
</head>

<body id="terms-and-conditions">
    <div class="container-fluid">
        <div class="row terms-and-conditions-section">
            <div class="col-xs-12 text-center">
                <h1 class="title">
                    <%-pageName%>
                </h1>
            </div>

            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="content">
                    <%-content%>
                </div>
            </div>
        </div>
    </div>
</body>

</html>